@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
:root {
  --color-dark-cyan: #4d96a9;
  --color-bright-cyan: #8fe3f9;
  --color-dark-purple: #855fb1;
  --color-light-purple: #d9b8ff;
  --color-dark-navy: #28283d;
  --color-grey: #87879d;
  --color-light-grey: #d8d8d8d8;
  --color-white: #fafafa;
  --color-hover-light-cyan: #71c0d4;
  --color-hover-light-purple: #b18bdd;
}

*,
*::before,
*::after,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
  display: inline-block;
}

img {
  width: 100%;
}

/***********  FONTS  *****************/
h1 {
  font-size: 2.5rem;
  color: var(--color-dark-navy);
  line-height: 1.1;
  max-width: 22.5rem;
  margin-top: 1.5rem;
  padding: 1.5rem 3rem;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-dark-cyan);
  letter-spacing: 0.25rem;
  margin-top: 2.4rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.15;
  color: var(--color-dark-navy);
  margin-top: 1.5rem;
}

.main-container__middle h3 {
  max-width: 27.8rem;
}

h4 {
  color: var(--color-grey);
}

p {
  font-size: 1rem;
  color: var(--color-grey);
  line-height: 1.8;
  margin-top: 2rem;
  max-width: 35rem;
}

.main-container__top p {
  margin-top: 0rem;
}

.main-container__middle p {
  margin-bottom: -4rem;
  line-height: 1.65;
}

footer p {
  margin-top: 1.5rem;
}

footer p,
footer h3 {
  color: var(--color-white);
}

/***********  COMPOONENTS ***************/
.logo {
  margin: 3rem auto;
}

.hero-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  min-width: 100vw;
}

.hero {
  min-width: 110%;
  object-fit: cover;
}

.main-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-container__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}

.main-container__point {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  border: 1px solid var(--color-light-grey);
  border-radius: 50%;
  margin-top: 5.3rem;
  margin-bottom: 4rem;
}

.point-two {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transform: translatey(5.9rem);
  background-color: var(--color-white);
}

.main-container__point::before {
  content: " ";
  height: 5.25rem;
  width: 1px;
  background-color: var(--color-light-grey);
  position: relative;
  bottom: 4.3rem;
  left: 0.6rem;
}

.main-container__img-stack {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: center;
  padding: 0 1.5rem;
}

.stack-img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.main-container__middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.65rem;
}

/*********************************

            BUTTONS

*********************************/
.btn {
  border-radius: 2rem;
  margin: 0.5rem;
}

.btn-info {
  padding: 1rem 2rem;
  background-color: var(--color-dark-purple);
  color: var(--color-white);
  margin-bottom: 4rem;
}

.btn-info:hover {
  background-color: var(--color-hover-light-purple);
}

.btn-download {
  color: var(--color-white);
  background-color: var(--color-dark-cyan);
  margin-top: 1.7rem;
  padding: 1rem 2.5rem;
}

.main-container__top .btn-download:hover {
  background-color: var(--color-hover-light-cyan);
}

.btn-download span {
  color: var(--color-bright-cyan);
  opacity: 0.8;
}

/************* FOOTER  **********************/
footer .btn-download span {
  color: var(--color-light-purple);
}

footer .btn-download {
  background-color: var(--color-dark-purple);
  margin-top: 2rem;
}

footer .btn-download:hover {
  background-color: var(--color-hover-light-purple);
}

footer {
  background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(/assets/mobile/image-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 3rem;
}

/*****************************************************

                    MEDIA QUERIES

*****************************************************/
@media only screen and (min-width: 500px) {
  .main-container__img-stack {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 850px) {
  h1 {
    font-size: 3rem;
    margin-top: 2.5rem;
    padding: 1.5rem;
  }
  h3 {
    font: 2.5rem;
  }
  .hero-container {
    max-height: 20rem;
  }
  .main-container__img-stack {
    padding: 0 10rem;
  }
  footer {
    background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(/assets/tablet/image-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-container,
  .hero {
    display: none;
  }
  body {
    background-image: url(/assets/desktop/image-hero-left.png), url(/assets/desktop/image-hero-right.png);
    background-repeat: no-repeat;
    background-position: top 9.5% left -3%, top 13% right -3%;
  }
  h1 {
    font-size: 4rem;
    min-width: 100%;
    padding: 1.5rem 4rem;
  }
  h3 {
    margin: 0;
  }
  .main-container__top {
    min-width: 30rem;
  }
  .main-container__point {
    margin-top: 8rem;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  footer .btn-download {
    margin-top: 0;
  }
  footer h3 {
    width: 15rem;
  }
  footer p {
    width: 19rem;
    line-height: 1.5;
    margin: 0;
  }
  footer {
    background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(/assets/desktop/image-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    align-items: center;
    padding: 7rem;
  }
}
